@font-face {
  font-family: "introFont";
  src: url("fonts/Generica-Bold.otf");
}

*{
  margin: 0 0;
}

div{
  display: block;
  position: relative;
  overflow: hidden;
  max-height: 540px;
  width: 100%;
  max-width: 1920px;
  padding-bottom: 28.125%;
}

.background{
  max-height: 2700px;
  width: 100%;
  top: 0;
  left: 0;
  position: relative;
  background: url("images/background.png") no-repeat center top;
}

.intro{
  width: 100%;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  color: #cce5ff;
  font-family: "introFont", Helvetica, sans-serif;
}

.content-header{
  width: 100%;
  top: 50px;
  position: absolute;
  text-align: center;
  display: inline-block;
}

.content{
  top: 150px;
  width: 768px;
  position: absolute;
  display: inline-block;
  text-align: center;
  line-height: 50px;
}

.content ul{
    width: auto;
    position: absolute;
    display: inline-table;
    text-align: left;
}

.content div{
  width: 55%;
  display: inline-block;
  text-align: left;
}

.arrowdown-image{
  height:100px;
  width:90px;
  position: static;
  display: inline-block;
  left: 50%;
}
