*{
  border: 2px;
  border-style: solid;
}

.intro{
  background-image: url("images/tempheader.png");
  background-position: center;
  padding: 100px 100px;
  color: #000000
}

.intro-heading{
  text-align: center;
  background-image: #0;
}
