*{
  border: 2px;
  border-style: solid;
  margin: 0;
}

.header{
  object-fit: cover;
  display: block;
  height: auto;
  min-width: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
